<div class= "container">
  <ul class= "list-group my-3">
    <% @lists.each do |list| %>
      <li class= "list-group-item my-1"><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>
  <p><%= link_to 'Add new list', lists_new_path %></p>
</div>
